body,form,div{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 24px;
    flex-direction: column;
    font-size: larger;
}
input{
    padding: 16px;
    border-radius: 5px;
    width: 400px;
}
div{
    align-items: flex-start;
}